.FormGroup {
    margin-bottom: 20px;
    padding: 0;
    border-style: none;
    background-color: #ffffff;
    will-change: opacity, transform;
    box-shadow: 0 0 10px rgba(50, 50, 93, 0.16);
    border-radius: 4px;
}

.FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
}

.StripeElement--webkit-autofill {
    background: transparent !important;
}

.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
}

form {
    padding: 24px;
}

button {
    width: 100%;
    color: #fff;
    border: none;
    height: 40px;
    display: block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    margin: 40px 15px 0;
    background-color: #1b9d1b;
    border-radius: 4px!important;
    transition: all 100ms ease-in-out;
    will-change: transform, background-color, box-shadow;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #1b9d1b;
}

button:active {
    transform: scale(0.99);
    background-color: #177517;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #177517;
}

.product-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.product-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.product-wrapper button {
    margin-top: 24px;
}

h1,
h3 {
    text-align: center;
}

.success-message{
    margin: 0 24px;
}
